.git
__pycache__
**/*.pyc
**/__pycache__
.env
.env.*
!env.example
*.db
*.sqlite3
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
logs/
.turing/
.claude/
.deepeval
docs/
scanner_module/
*.egg-info
dist/
build/
.venv/
venv/
.idea/
.vscode/
.claude/
